@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

#texteditor-body {
  text-align: center;
  padding: 1rem;
  background-color: #d5d5d5;
}

#document-body{
  position: relative;
}

#texteditor-loading{
  position: absolute;
  left: 2rem;
  right: 1rem;
  min-height: 92%;
  background-color: black;
  color:white;
  font-size: 1.5rem;
  opacity: 0.5;
  z-index:10;
  display: flex;
  align-items: center;
  justify-content: center;
}

#texteditor-component-header{
  padding: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}

#document{
  margin:0 20px 0 40px;
  display:flex;
  flex-direction:row;
}

#text-box{
  order:1;
  flex-grow:1;
  margin-left:auto;
  overflow:auto;
}

#texteditor-component-navbar{
    height:40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #747474;
}

.texteditor-component-navele{
  min-height: 100%;
  height: 100%;
}
.texteditor-component-navele button{
  display: inline-block;
  height: 100%;
  color: white;
  border: none;
  padding: 0 1rem;
  font-size: 1rem;
}
#save-btn{
  background-color:green;
}
#publish-btn{
  background-color: purple;
}
#save-btn:hover{
  background-color: rgb(15, 175, 15);
  cursor: pointer;
}
#publish-btn:hover{
  background-color: #cb02da;
  cursor: pointer;
}

#options-box{
  width:100%;
  min-height:2em;
  background-color: #747474;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}

.option{
  padding:5px 10px 5px 10px;
}
.option img:hover{
  cursor: pointer;
}

.dropdown-content{
  display:none;
  position:absolute;
  padding:0;
  margin:0;
  background-color: #d5d5d5;
  border-radius: 5px;
  z-index:5;
}
.dropdown-content li{
  list-style-type: none;
  padding:0 2px  2px 2px;
  border-radius: 5px;
  background-color: #d5d5d5;
  text-align:left;
  cursor: default;
}
.dropdown-content li:hover{
  background-color:white;
}
.dropdown-show{
  display:block;
}


#text-box textarea{
  display:block;
  resize:none;
  min-width:100%;
  padding:10px;
  height:80vh;  
}

#suggestion-box{
  margin-left:10px;
  border: 3px solid black;
  background-image:
    linear-gradient(
      lightgrey,
      #EBEBEB 100%
    );
  order:2;
  font-size:1.5em;
  flex-basis:20%;
  min-width:40px;
}
#suggestion-header{
  color:#3D3D3D;
  font-weight:bold;
}

#suggestion-box ul{
  padding-left: 0;
}
#suggestion-box li{
  list-style-type: none;
  color:#5E5E5E;

}
#suggestion-box li span{
  color:black;
}

#suggestion-box li:hover{
  cursor:pointer;
  background-color: darkgrey;
}

.review-box{
  margin:1rem 0 1rem 40px;
  width:80%;
  background-color: #d5d5d5;
}
#review-postbox{
  padding:1rem 0 1rem 0;
}
#review-postbox button{
  display: block;
  margin-left:0;
  padding: 0 0.5rem 0 0.5rem;
}
#review-postbox textarea{
  display:block;
  resize:none;
  width:90%;
  min-height: 3rem;
  padding:0.5rem;
  font-family: 'Montserrat', sans-serif;
}

#review-header{
  margin-left:0;
  padding-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 500;
}

.review-item{
  margin-left:0;
  text-align: left;
  font-size: 1.3rem;
  background-color: #d5d5d5;
}
.review-info{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1rem;
  color:#5E5E5E;
}
.review-item-username{
  order:1;
  margin-left: 0;
}
.review-item-username a{
  text-decoration: none;
  color:#5E5E5E;
}
.review-item-username a:hover{
  font-weight: bold;
}

.review-item-date{
  order:2;
  margin-right:0;
  text-align: right;
}

