#texteditor-ref{
    text-align: center;
    padding:0.5rem;
    font-size: 1.5rem;    
}
#texteditor-ref a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(255, 106, 135)
}
#texteditor-ref a:hover{
    color:#dc143c
}

#article-list-component{
    margin: 2rem;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#article-loader{
    display: inline;
    margin:auto;
}

.article-item{
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    height: 12rem;
    width: 10rem;
    max-width: 10rem;
    margin: 1rem;
    text-align: center;
    cursor: pointer;
}
.article-item:hover{
    box-shadow: 0 0 7px black;
}

.article-item-title{
    padding-bottom: 1rem;
    font-weight: bold;
}

.article-item-author{
    position: absolute;
    width:100%;
    font-size:0.8rem;
    font-weight: bold;
    bottom:2rem;
}

.article-status{
    position: absolute;
    bottom: 0;  
    width:100%;
    color: green;
    text-align: center;

}